<button class="general-button" id="general-button">
    General Notes
</button>
<overlay class="overlay" id="overlay" style="display: none;">
  <div class="overlay-content">
    <section class="comment-section">
      <h3>Introduction</h3>
      <p class="note">
        Hey there!

        Awesome work getting those tests passing! :) You're off to a great start with this
        one!
      </p>
    </section>
    <section class="comment-section">
      <h3>Sign Off</h3>
      <p class="note">
        I want to give you hints without giving too much away, but please let me
        know if anything is unclear or if you have any questions!. I'm here to help! :)<br><br>

        Andrew.
      </p>
    </section>
    <section class="comment-section">
      <h3>Skeleton File</h3>
      <p class="note">
        As a quick aside, feel free to remove anything that's not pertinent to your
        solution. So here, the 'skeleton file' comments can go away.
      </p>
    </section>
  </div>
</overlay>
