<button class="general-button" id="general-button">
    General Notes
</button>
<overlay class="overlay" id="overlay" style="display: none;">
  <div class="overlay-content">
    <section class="comment-section">
      <% generalNotesData.forEach(({ name, note }) => { %>
        <h3><%- name -%></h3>
        <p class="note"><%- note -%></p>
      <% }) %>
    </section>
  </div>
</overlay>
