<nav class="sidebar">
  <section class="nav-links">
    <details class="summary">
        <summary>Resistor Color Duo</summary>

        <a class="nav-link" href="#destructuring">Destructuring</a>
        <a class="nav-link" href="#single-responsibility-duo">Single Responsibility</a>
        <a class="nav-link" href="#math-method">Math Method</a>
        <a class="nav-link" href="#prefer-number">Prefer Number</a>
        <a class="nav-link" href="#unary-plus">Avoid Unary Plus</a>
    </details>
    <details class="summary">
        <summary>Space Age</summary>

        <a class="nav-link" href="#magic-numbers">Magic Numbers</a>
        <a class="nav-link" href="#single-responsibility-space">Single Responsibility</a>
    </details>
  </section>
</nav>
