<nav class="sidebar">
  <section class="nav-links">
    <% notesData.forEach(({ exercise, sections }) => { %>
      <details class="summary">
          <summary><%= exercise %></summary>
          <% sections.forEach(({ name, link }) => { %>
            <a class="nav-link" href=<%= `#${link}` %>><%= name %></a>
          <% }) %>
      </details>
    <% }) %>
  </section>
</nav>
