<%- include('../partials/head') -%>
  <body>
    <div class='home-container'>
      <a href="/javascript">JavaScript</a>
      <a href="/python">Python</a>
      <a href="/ruby">Ruby</a>
    </div>
<%- include('../partials/foot') -%>
