<%- include('../partials/head') -%>
<%- include('../partials/sidebar') -%>
<div class="main-doc">
  <h2>Resistor Color Duo</h2>
  <section class="exercise-section">
    <h3 id="single-responsibility-duo">Single Responsibility</h3>
    <p class="note">
        Have a look at the Single Responsibility Principle of functions,
        meaning we only ever want our functions to handle one concern. Here,
        everything that is concerned with rounding is a seperate concern and
        should therefore be handled by a second function. We should see that
        this will help to make our code more readable.
    </p>
  </section>
  <h2>Space Age</h2>
  <section class="exercise-section">
    <h3 id="magic-numbers">Magic Numbers</h3>
    <p class="note">
        We have to watch out for 'magic numbers' in our code
        (numbers that appear out of thin air with no explanation!).
        Many readers won't know what `` is meant to
        represent. So how can we more clearly convey it's meaning?
    </p>
    <h3 id="single-responsibility-space">Single Responsibility</h3>
    <p class="note">
        Have a look at the Single Responsibility Principle of functions,
        meaning we only ever want our functions to handle one concern. Here,
        everything that is concerned with rounding is a seperate concern and
        should therefore be handled by a second function. We should see that
        this will help to make our code more readable.
    </p>
  </section>
</div>
<%- include('../partials/foot') -%>
