html {
  font-size: 18px;
  font-style: 'PT Serif', serif;
  line-height: 1.2;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  font-weight: bold;
  font-size: 1.5rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.home-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 50px;
  width: 200px;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: solid gray;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid gray;
  padding-left: 20px;
}


/**Main Section Containing JS Documentation**/
.main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 5px 20px;
}
article {
  margin-left: 10px;
}

/**Code Snippets Style**/
code {
  display: block;
  background: rgb(228, 228, 228);
  padding: 15px;
  margin: 15px;
  line-height: 2;
  border-radius: 2px;
}

/**Mobile Phones**/
@media (max-width: 800px) {
  #navbar {
    position: relative;
    width: 100%;
  }
  #nav-links {
    height: 235px;
    overflow-y: scroll;
  }
  #main-doc {
    margin-left: 20px;
    margin-top: 20px;
    margin-left: 5px;
  }
}
