html {
  font-size: 18px;
  font-style: 'PT Serif', serif;
  line-height: 1.2;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 20px 0;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px 5px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.home-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 50px;
  width: 200px;
  border: 1px solid black;
  margin: 10px 0;
  padding: 10px;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: solid gray;
}
.summary {
  box-sizing: border-box;
  min-height: 60px;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}
.nav-link {
  display: flex;
  align-items: center;
  height: 60px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid gray;
  padding-left: 20px;
}

.main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 5px 20px;
}
.comment-section {
  margin-left: 20px;
}
.note {
  margin-left: 10px;
}

.general-button {
  position: fixed;
  top: 15px;
  right: 25px;
  cursor: pointer;
  height: 40px;
  z-index: 80;
}

.overlay {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 99;
}
.overlay-content {
  box-sizing: border-box;
  height: 90%;
  width: 60%;
  background-color: white;
  border: 3px solid black;
  padding-right: 20px;
}
